body {
    font-family: "Open Sans";
    background: #2c3e50;
    color: #ecf0f1;
}

div.scroll {
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 10 px;
}