body {
    font-family: "Open Sans";
    background: #2c3e50;
    color: #ecf0f1;
}

a {
    color: #bdbdbd;
}

div.scroll {
    background-color: #bdbdbd;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 10 px;
}