body {
    font-family: "Open Sans";
    background: #2c3e50;
    color: #ecf0f1;
}

a {
    position: fixed;
    bottom:0;
    display: block;
    background-color: #000000;
    color: #bdbdbd;
    padding: 10px;
    text-align: right;
}

.block {
    background-color: #000000;
    color: white;
    border: none;
    text-align: right;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0px;
    margin-right: 20 px;
}

div.scroll {
    background-color: #bdbdbd;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 10 px;
}